*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(252, 246, 246,0.5);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-heading{
    margin: 20px;
    padding: 20px;
    font-size: 60px;
    font-family: cursive;
    color: rgb(16, 26, 29);
}
.text-primary{
    color: rgb(57, 183, 221);
}
#book-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 60%;

}

.form-group label{
    font-size: 22px;
    display: block;
}
.form-control{
    outline: none;
    margin-bottom: 20px;;
    align-items: center;
    width: 100%;
    height: 35px;
    font-size: 18px;
   
} 
.form-group input{
    box-sizing: border-box;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 4px;

}

.form-group input,select{
    background-color: white;
}
.addbook-btn{
    box-sizing: border-box;
    border: 1px solid rgb(131, 131, 131);;
    background-color: rgb(37, 157, 194);
    color: white;
    font-size: 20px;
    height: 35px;
    margin-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.addbook-btn:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.table{
    border-top: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 60%;
}
.table thead tr{
    text-align: left;
}
.table thead tr th{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
.table:first-child{
    background-color: rgb(26, 23, 23);
}
#book-list tr td{
    margin: 2px;
    padding: 7px;
    font-size: 19px;
   
} 

#book-list tr td a{
    text-decoration: none;
    font-size: 20px;
    background-color:red;
    color: white;
    /* margin-bottom: 40px; */
    padding: 4px;
}
.alert{
    text-align: center;
    height: 30px;
    width:30%;
    background-color: lightblue;
    color: black;
    font-size: 20px;
    padding-top: 4px;
    border-radius: 4px;;
}
.alert-danger{
    text-align: center;
    height: 30px;
    width:30%;
    background-color: rgb(216, 84, 84);
    color: black;
    font-size: 20px;
    padding-top: 4px;
    border-radius: 4px;
}
.alert-success{
    text-align: center;
    height: 30px;
    width:30%;
    background-color: rgb(171, 235, 171);
    color: black;
    font-size: 20px;
    padding-top: 4px;
    border-radius: 4px;

}
@media(max-width:700px){
    .alert{
        text-align: center;
        height: 10%;
        width:30%;
        background-color: lightblue;
        color: black;
        font-size: 10px;
        padding-top: 4px;
        border-radius: 4px;;
    }
    .alert-danger{
        text-align: center;
        height: 10%;
        width:30%;
        background-color: rgb(216, 84, 84);
        color: black;
        font-size: 10px;
        padding-top: 4px;
        border-radius: 4px;
    }
    .alert-success{
        text-align: center;
        height: 10%;
        width:30%;
        background-color: rgb(171, 235, 171);
        color: black;
        font-size: 10px;
        padding-top: 4px;
        border-radius: 4px;
    
    }
}